.checkout{
    padding: 16px;
    box-sizing: border-box;
}

.order-detail{
    padding-top: 32px !important;
}

.order-detail div{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.06);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: block;
    float: left;
    padding: 16px;
    box-sizing: border-box;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.4)
}

.order-detail h6{
    font-weight: 700;
    font-size: 1.2em;
}

.order-detail ul{
    list-style: none;
    padding-left: 0;
    float: left;
    width: 100%;
}

.order-detail ul li{

}

.order-detail hr{
    margin-top: 8px;
    margin-bottom: 8px;
    float: left;
    width: 100%;
}

.order-detail ul span{
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    float: left;
    padding: 2px 5px;
}

.order-detail ul span:first-child {
    text-align: left;
}
.order-detail ul span:last-child {
    text-align: right;
}

@media screen and (min-width: 1297px) {
    .checkout {
        max-width: 1280px;
        margin: 0 auto !important;
    }
}